
body{font-family: 'Roboto', sans-serif;margin:0;padding:0;width:100%;}
.row{margin-right:0 !important;margin-left:0 !important;}
nav .icon-bar {
	background-color: #333333;
	display: block;
	width: 22px;
	height: 2px;
	margin-right:0px !important;
}
nav .icon-bar + .icon-bar { margin-top: 6px ;}
ul li{
	text-align:center;
	list-style:none;
	display:inline;
	padding:3rem;
}
ul li a:hover{
	color:blue;
}
ul li a{
	text-decoration:none !important;
}
.logo{
	float:left;
	padding:1.5rem;}
.menu{float:right;}
a{text-decoration:none;}

#btn-cross{display:none;}
@media only screen and (max-width: 991px) {
#tog-btn{display:block !important;margin-left: auto !important;}
	#menuu{
		margin-top:70px;
		background-color:#1603f7 !important;
		width:300px;
		height:0px;
		position:absolute !important;
		z-index: 1;
		top: 0;
		right:0px !important;
		overflow-x: hidden;
		transition: 0.8s;
	}
	#togler-btn{display:block !important;}
	#tog-btn2{display:block !important;}
	#menuu ul li a{color:white !important;}
	#menuu ul li a:hover{color:black !important;}
	#menuu ul li{
		display: inline-block !important;
		text-align: center;
		margin-bottom:5px;
		margin-top:5px;
		width: 100%;
		padding:.8rem !important;
	}
	.navbar-brand{float:left !important;}
	.fa-bars,.fa-times{font-size:23px!important;}
	.navbar.navbar-expand-lg.nav-color.container {
    width: 100% !important;
    margin-right: 0% !important;
}
.btn.ml-5.btn-primary.float-right {
    margin: 0% !important;
    float: none !important;
}
}

.bg-img{
	background-image:url("img/bg.png");
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}
.btn-outline-danger {
    color: white !important;
    border-color: #6cf !important;
}
#nav-img{background-color:white;opacity:.8;}
.f-size{font-size:40px;}
.t-control{margin-top:10%;margin-right:2% !important;}
.some-blue{color:#66ccff !important;}
.btn:hover a{color:white !important;}
.t-color{color:black;}
.btn-color{background-color:white !important;width:200px;height:45px;}
.white-color{color:white;}
.bg-color{background-color:#66ccff !important;}
.ass-color{color:#cccccc;}
.bgcolor-2{background-color:#cccccccc !important;}
.six-section{}
.carousel-indicators{
	width:100% !important;
	height:auto !important;
    list-style: none;
	text-align:center;
}
.carousel-indicators li{opacity:1 !important;}
.carousel-indicators li,.carousel-indicators li.active{
            width: 50px !important;
            height: 50px !important;
            position: relative;
            margin: 10px;           
        }
		
.carousel-indicators li{width:40px !important;height:40px !important; border-radius: 50%;}
        .carousel-indicators img{
            position: absolute;
            width: 100%;
            border-radius: 50%;
            height: 100%;
            top: 0;
            left: 0; 
			background-color:none;
		}

@media only screen and (min-width: 320px) and (max-width: 400px) {
	#mpcontrol{padding-right:0% !important;padding-left:0% !important;}
	#mpcontrol1{padding-right:0% !important;padding-left:0% !important;}
	.tect-center.white-color.mt-5.pt-5 {
    margin-top: 0% !important;
}
}
@media only screen and (min-width: 320px) and (max-width: 668px) {
#wcontrol{width:100%!important;border-top:1px solid white!important;}
#wcontrol1{width:100%!important;border-top:1px solid white!important;}
#wcontrol2{width:100%!important;border-top:1px solid white!important;}
#wcontrol3{width:100%!important;border-top:1px solid white!important;}	}
@media only screen and (min-width: 668px) and (max-width: 768px) {
	
}	

@media only screen and (min-width: 320px) and (max-width: 580px) {
.img-d-none{display:none !important;}
.text-center.mx-5.px-5 {
    margin-right: 0% !important;
    margin-left: 0% !important;
    padding-right: 0% !important;
    padding-left: 0% !important;
}
.next-control {
    margin-right: 3% !important;
}
.pre-control {
    margin-left: 3% !important;
}
.form-group.mx-auto {
    margin-left: 0% !important;
    margin-right: 0% !important;
}
.white-color.pr-5.mt-4.mb-5 {
    padding: 0 !important;
    width: 90% !important;
	margin-bottom: 1rem !important;
	margin-top: 1.2rem !important;
}
.f-size {
    font-size: 30px !important;
}
.btn.btn-color.text-uppercase.mt-3.mb-5 {
    margin-bottom: 1rem !important;
}
	
}

@media only screen and (max-width: 767px) {
.container{width:100% !important;}
textarea.form-control {
    height: auto;
	margin-left:0% !important;
}
form{width:100% !important;padding-left:0% !important;}	
	.row{margin-right:0 !important;margin-left:0 !important;}
#asa{width:100% !important;}
.pre-control{margin-left:5% !important;}
.next-control{margin-right:5% !important;}
#fr-control{float:right !important;}	
#fl-control{float:left !important;}	
.container.py-5.mt-2.mx-5.px-5 {

    padding: 0% !important;
    margin-left: 0% !important;

}
.text-center.mx-5.px-5 {
    margin-right: 0% !important;
    margin-left: 0% !important;
    padding-right: 0% !important;
    padding-left: 0% !important;
}
}


@media only screen and (min-width: 480px) and (max-width: 767px) {
	
.container{width:100% !important;}	
.row{margin-right:0 !important;margin-left:0 !important;}
form{width:100% !important;padding-left:0% !important;}

.pre-control{margin-left:-15% !important;}
.next-control{margin-right:-15% !important;}	
#asa{width:100% !important;}
#fr-control{float:right !important;}	
#fl-control{float:left !important;}		
.form-group.mx-auto {
    margin-left: 0% !important;
    margin-right: 0% !important;
}	
.btn.text-uppercase.btn-outline-danger.text-center.mt-5.mx-auto {
    margin-right: 3rem !important;
}
.container.py-5.mt-2.mx-5.px-5 {

    padding: 0% !important;
    margin-left: 0% !important;

}
}


/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
.row{margin-right:0 !important;margin-left:0 !important;}	
.asa{width:100% !important;}	

}
